#cabeça{
    border-bottom: solid black 1px;
    padding: 10px;
    display: flex;
    word-spacing: 20px;
}
#menuCabeça{
    color:blue;
    font-size: 100%;
    margin-left: 30%; 
    text-align: center;
    justify-content: center;
    padding-top: 2%;
    
}
 #itensMenu:hover{
    transition: 2s ease;
    background-color: rgb(13, 13, 116);
    color: white;

 } 
#itensMenu{
    border: 2px  solid rgb(13, 13, 116);
     border-radius: 20px ;
    padding: 1rem;
    font-size: 25px;
    text-decoration: none;
}
#textoDaRanger{
    display: flex;
    justify-content: center;   
     
}
#aqui{
    margin-left: 3px;
}
footer{
    background-color:rgb(13, 13, 116) ;
    font-size:20px;
    color: white;
    display: flex;
    align-items: center;
    bottom: 0%;
    position: fixed;
    width: 150%;
    
}
.carro2 {

    margin-left: 10%;
}
.logoford2{
    margin-left: 1600%;
}
#videoLancamento{
    width:100%;
    position: fixed;
    background: url(videoplayback.mp4) no-repeat;
    z-index: -1000;
}  
#areaCarros{
    display: flex;
    justify-content: center;
    background-color: rgb(34, 34, 155);
        bottom: 0;
    
}
#CarroDisponivel{
    border: 5px solid black;
    bottom: 0%;
    word-spacing: 10em;
    background-color: blue;


}

