#cabeça{
    border-bottom: solid black 1px;
    padding: 10px;
    display: flex;
}
#menucabeça{
    color:blue;
    font-size: 100%;
    margin-left: 30%; 
       
}

footer{
    background-color:rgb(13, 13, 116) ;
    font-size:20px;
    color: white;
    display: flex;
    align-items: center;
}
.carro2 {

    margin-left: 250px;
}
.logoford2{
    margin-left: 1600%;
}