body{
    min-width: 100vw;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 2%;
}
#cabeça{
    border-bottom: solid black 1px;
    word-spacing: 5em;
    top:0;
    width:100%;

}
#menuCabeça{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color:blue;
    font-size: 100%;
    text-align: center;
    justify-content: flex-start;
    padding-top: 2%;
    gap: 1%;
    grid-row: 600px ;
    
}
 #itensMenu:hover{
    transition: 2s ease;
    background-color: rgb(13, 13, 116);
    color: white;

 } 
#itensMenu{
    border: 2px  rgb(13, 13, 116);
     border-radius: 20px ;
    padding: 1rem;
    font-size: 25px;
    text-decoration: none;
}
main{
    width: 100vh;
    min-height: 10vh;
    display: grid;
    grid-template-columns:repeat(1, 100%);
    align-items: center;
    justify-items: center;
    margin: 0%;
}
.carro2 {

    /* margin-left: 7%; */
    width: 100%;
    grid-column: 1 / 30;
    grid-row: 2 / 60;
}
#textoDaRanger{
    display: flex;
    justify-content: center;   
     
}
#aqui{
    margin-left: 3px;
}
footer{
    background-color:rgb(13, 13, 116) ;
    font-size:20px;
    color: white;
    display: grid;
    grid-template-columns:repeat(5,80px);
    width: 100%;
}
#redesSociais{
    width: 20px;
}
.logoford2{
    margin-left: auto;
}
#videoLancamento{
    width:50%;
   
    background: url(videoplayback.mp4) no-repeat;
    z-index: -1000;
    background-color: black;
    padding-inline: 30em;

}  
#areaCarros{
    display: flex;
    justify-content: center;
    background-color: rgb(34, 34, 155);
        bottom: 0;
    
}
#CarroDisponivel{
    border: 5px solid black;
    bottom: 0%;
    word-spacing: 10em;
    background-color: blue;


}

